<!doctype html>
<html lang="en">
  <head>
  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>John's Blog</title>
  </head>
  <body>
  <style>
  .navbar{
    box-shadow:0 0 10px #005567;
  }
  </style>
  

    {% comment %} navbar {% endcomment %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
    
    <a class="navbar-brand text-white" href="#">
        <img src="{% static 'images/hasnain.gif' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        John's Blog
    </a>
  
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'myposts' %}">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'todo' %}">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'shop' %}">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
      </li>
      
    </ul>
    <a href="{% url 'signup' %}">
      <button class="btn btn-sm btn-outline-light" type="button">Signup</button>
    </a>
    <a href="{% url 'signin' %}">
      <button class="btn btn-sm btn-outline-light mx-2 " type="button">Signin</button>
    </a>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="srch" class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-search"> </i> </button>
    </form>
  </div>
</nav>



    {% comment %} navbar ends {% endcomment %}

{% block content %}

{% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>