{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color:#000222;
    }
</style>
<div class="row mt-3">

    <div class="col-9">
    {% for post in posts %}
         <div class="jumbotron jumbotron-fluid bg-white" style="box-shadow:0 0 5px">
                <div class="container text-center">
                    <h3 class="text-center">{{post.title}}</h3>
                    <hr>
                    {% if post.image %}
                    
                    <img  class="img-fluid mt-5" src="{{post.image.url}}" alt="" style="">
                    {% endif %}
                    <p class="text-justify mt-4">{{post.desc}}</p>
                    <hr>
                    <p class="text-right"> <small>at {{post.date}}</small></p>
                </div>
        </div>
    {% endfor %}

     </div>

    <div class="col-3">
       <div class="card" style="width: 18rem;">
       <h6 class="m-3 ">Today’s news</h6>
                {% for auth,title,pub,url in data %}
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item"><small><a href="{{url}}">{{title}}</a> by <b>{{auth}}</b> <br>at {{pub}} </small></li>          
                
            </ul>
                {% endfor %}
        </div>
    </div>


    </div>

{% endblock content %}
