{% extends 'base.html' %}

{% block content %}

<style>
 body{
    background:url('https://images.unsplash.com/photo-1471680148227-c1189f1ff41f?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    
}
</style>

<div class="text-center">
    <h2 class="text-center mt-5 display-3 text-info">Thank You! Visit Again :)</h2>
    <p class="m-4">Track Your Order From Your Order Id</p>
    <h5>Your Order Id - <a href="" class="text-info"> Order-2020-{{at}}-item</a></h5>

{% endblock content%}